.mainWrapper{
  font-family: Montserrat;
  margin-bottom: 3vw;

  .logos{
    margin-right: -35px;
    width: 40px;
  }
}

.headline{
  font-size: 18px;
}

.description{
  img{
    margin: 30px;
  }
}


