@import 'src/modules/scss-mixins/Colors&Fonts.scss';

.mainWrapper {
  font-family: Montserrat;
  background: white;
  padding: 1vw 2vw;
  &:nth-child(odd){
    background-color: $purple;
  }



  .nameWrapper {
    font-weight: bold;
    font-size: 18px;

    .platformsLogoAndName {
      display: flex;
      flex-direction: column;
      align-items: center;

      .platformsLogo {
        width: 150px;
        &:hover{
          transform: scale(1.2);
          transition: 0.4s;
        }
      }
    }

  }
}


.item {
  font-size: 13px;
}